# TASK #1. DEFINE A PANDAS DATAFRAME

In [ ]:
# Pandas is a data manipulation and analysis tool that is built on Numpy.
# Pandas uses a data structure known as DataFrame (think of it as Microsoft excel in Python).
# DataFrames empower programmers to store and manipulate data in a tabular fashion (rows and columns).
# Series Vs. DataFrame? Series is considered a single column of a DataFrame.
import pandas as pd

In [4]:
# Let's define a two-dimensional Pandas DataFrame
# Note that you can create a pandas dataframe from a python dictionary
employee_df = pd.DataFrame({"Employee ID": [1,2,3,4],
                            "Employee Name": ['Laila Ally', 'Kate Steve', 'Nicole Mitch', 'Francis Morris'],
                            "Annual Salary [$]": [35000, 40000, 100000, 25000],
                            "Years with Company": [5, 7, 10, 1]})

employee_df

   Employee ID   Employee Name  Annual Salary [$]  Years with Company
0            1      Laila Ally              35000                   5
1            2      Kate Steve              40000                   7
2            3    Nicole Mitch             100000                  10
3            4  Francis Morris              25000                   1

In [5]:
# Let's obtain the data type
type(employee_df)

pandas.core.frame.DataFrame

In [7]:
# you can only view the first couple of rows using .head()
employee_df.head(2)

   Employee ID Employee Name  Annual Salary [$]  Years with Company
0            1    Laila Ally              35000                   5
1            2    Kate Steve              40000                   7

In [9]:
# you can only view the last couple of rows using .tail()
employee_df.tail(2)

   Employee ID   Employee Name  Annual Salary [$]  Years with Company
2            3    Nicole Mitch             100000                  10
3            4  Francis Morris              25000                   1

In [10]:
# You can obtain the shape of the DataFrame (#rows, #columns)
employee_df.shape

(4, 4)

In [13]:
# Obtain DataFrame information
employee_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Employee ID         4 non-null      int64
 1   Employee Name       4 non-null      object
 2   Annual Salary [$]   4 non-null      int64
 3   Years with Company  4 non-null      int64
dtypes: int64(3), object(1)
memory usage: 256.0+ bytes

**MINI CHALLENGE #1:**
- **A porfolio contains a collection of securities such as stocks, bonds and ETFs. Define a dataframe named 'portfolio_df' that holds 3 different stock ticker symbols, number of shares, and price per share (feel free to choose any stocks)**
- **Calculate the total value of the porfolio including all stocks**

In [15]:
temp_dict={"Stock": ['ETF', 'BTH', 'AAPL'],
           "Number of Shares": [100, 340, 200],
           "Price per Share": [2.34, 8.12, 0.93]
           }

portfolio_df = pd.DataFrame(temp_dict)

In [17]:
portfolio_df['Total Value'] = portfolio_df['Number of Shares']*portfolio_df['Price per Share']
portfolio_df

  Stock  Number of Shares  Price per Share  Total Value
0   ETF               100             2.34        234.0
1   BTH               340             8.12       2760.8
2  AAPL               200             0.93        186.0

In [20]:
portfolio_df.sum(numeric_only=True)

Number of Shares     640.00
Price per Share       11.39
Total Value         3180.80
dtype: float64

# TASK #2. READ CSV AND HTML DATA

In [24]:
# Pandas is used to read a csv file and store data in a DataFrame
employee_df = pd.read_csv('/content/employee_information.csv')

In [25]:
employee_df

,First Name,Last Name,Salary,Years with Company,Postal Code,Email
0,Mike,Moe,5000.00,3,N94 3M0,bird@gmail.com
1,Noah,Ryan,10000.00,8,N8S 14K,nsmall@hotmail.com
2,Nina,Keller,9072.02,17,S1T 4E6,azikez@gahew.mr
3,Chanel,Steve,11072.02,12,N7T 3E6,chanel@gmail.com
4,Kate,Noor,5000.00,23,K8N 5H6,kate@hotmail.com
5,Samer,Mo,100000.00,13,J7H 3HY,samer@gmail.com
6,Heba,Ismail,50000.00,7,K8Y 3M8,heba.ismail@hotmail.com
7,Laila,Aly,20000.00,5,J8Y 3M0,Laila.a@hotmail.com
8,Joseph,Patton,2629.13,2,M6U 5U7,daafeja@boh.jm
9,Noah,Moran,8626.96,11,K2D 4M9,guutodi@bigwoc.kw

In [26]:
# Read tabular data using read_html
house_prices_df = pd.read_html('https://www.livingin-canada.com/house-prices-canada.html')

In [27]:
# we add [0] to select the first table
house_prices_df[0]

,City,Average House Price,12 Month Change
0,"Vancouver, BC","$1,036,000",+ 2.63 %
1,"Toronto, Ont","$870,000",+10.2 %
2,"Ottawa, Ont","$479,000",+ 15.4 %
3,"Calgary, Alb","$410,000",– 1.5 %
4,"Montreal, Que","$435,000",+ 9.3 %
5,"Halifax, NS","$331,000",+ 3.6 %
6,"Regina, Sask","$254,000",– 3.9 %
7,"Fredericton, NB","$198,000",– 4.3 %
8,(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...

In [28]:
house_prices_df[1]

,Province,Average House Price,12 Month Change
0,British Columbia,"$736,000",+ 7.6 %
1,Ontario,"$594,000",– 3.2 %
2,Alberta,"$353,000",– 7.5 %
3,Quebec,"$340,000",+ 7.6 %
4,Manitoba,"$295,000",– 1.4 %
5,Saskatchewan,"$271,000",– 3.8 %
6,Nova Scotia,"$266,000",+ 3.5 %
7,Prince Edward Island,"$243,000",+ 3.0 %
8,Newfoundland / Labrador,"$236,000",– 1.6 %
9,New Brunswick,"$183,000",– 2.2 %
10,Canadian Average,"$488,000",– 1.3 %
11,(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...

**MINI CHALLENGE #2:**
- **Write a code that uses Pandas to read tabular US retirement data**
- **You can use data from here: https://www.ssa.gov/oact/progdata/nra.html**

In [29]:
df_retirement_US = pd.read_html('https://www.ssa.gov/oact/progdata/nra.html')

In [30]:
df_retirement_US[0]

,Year of birth,Age
0,1937 and prior,65
1,1938,65 and 2 months
2,1939,65 and 4 months
3,1940,65 and 6 months
4,1941,65 and 8 months
5,1942,65 and 10 months
6,1943-54,66
7,1955,66 and 2 months
8,1956,66 and 4 months
9,1957,66 and 6 months
10,1958,66 and 8 months
11,1959,66 and 10 months
12,1960 and later,67
13,Notes: 1. Persons born on January 1 of any yea...,Notes: 1. Persons born on January 1 of any yea...

# TASK #3. WRITE DATAFRAME INTO CSV

In [34]:
employee_df = pd.DataFrame({'Employee ID':[1, 2, 3, 4],
                            'Employee Name':['Laila Aly', 'Kate Steve', 'Nicole Mitch', 'Francis Morris'],
                            'Annual Salary [$]':[35000, 40000, 100000, 25000],
                            'Years with Company':[5, 7, 10, 1]})
employee_df

   Employee ID   Employee Name  Annual Salary [$]  Years with Company
0            1       Laila Aly              35000                   5
1            2      Kate Steve              40000                   7
2            3    Nicole Mitch             100000                  10
3            4  Francis Morris              25000                   1

In [37]:
# write to a csv file without an index
employee_df.to_csv('employee_info_with_index.csv', index=True)

**MINI CHALLENGE #3:**
- **Use set index = False and rerun the cell. Comment on the output CSV.**

In [38]:
employee_df.to_csv('employee_info_no_index.csv', index=False)

# TASK #4. SETTING/RESETTING INDEX

In [53]:
# Pandas is used to read a csv file and store data in a DataFrame
# Note that a numeric index is being set by default
employee_df = pd.read_csv('employee_information.csv')
employee_df

,First Name,Last Name,Salary,Years with Company,Postal Code,Email
0,Mike,Moe,5000.00,3,N94 3M0,bird@gmail.com
1,Noah,Ryan,10000.00,8,N8S 14K,nsmall@hotmail.com
2,Nina,Keller,9072.02,17,S1T 4E6,azikez@gahew.mr
3,Chanel,Steve,11072.02,12,N7T 3E6,chanel@gmail.com
4,Kate,Noor,5000.00,23,K8N 5H6,kate@hotmail.com
5,Samer,Mo,100000.00,13,J7H 3HY,samer@gmail.com
6,Heba,Ismail,50000.00,7,K8Y 3M8,heba.ismail@hotmail.com
7,Laila,Aly,20000.00,5,J8Y 3M0,Laila.a@hotmail.com
8,Joseph,Patton,2629.13,2,M6U 5U7,daafeja@boh.jm
9,Noah,Moran,8626.96,11,K2D 4M9,guutodi@bigwoc.kw

In [54]:
# You can assign a specific column to be the index as follows
employee_df.set_index('First Name', inplace=True)
employee_df

,Last Name,Salary,Years with Company,Postal Code,Email
First Name,,,,,
Mike,Moe,5000.00,3,N94 3M0,bird@gmail.com
Noah,Ryan,10000.00,8,N8S 14K,nsmall@hotmail.com
Nina,Keller,9072.02,17,S1T 4E6,azikez@gahew.mr
Chanel,Steve,11072.02,12,N7T 3E6,chanel@gmail.com
Kate,Noor,5000.00,23,K8N 5H6,kate@hotmail.com
Samer,Mo,100000.00,13,J7H 3HY,samer@gmail.com
Heba,Ismail,50000.00,7,K8Y 3M8,heba.ismail@hotmail.com
Laila,Aly,20000.00,5,J8Y 3M0,Laila.a@hotmail.com
Joseph,Patton,2629.13,2,M6U 5U7,daafeja@boh.jm
Noah,Moran,8626.96,11,K2D 4M9,guutodi@bigwoc.kw

In [55]:
# You can go back and use numeric index using reset_index
employee_df.reset_index(inplace=True)
employee_df

,First Name,Last Name,Salary,Years with Company,Postal Code,Email
0,Mike,Moe,5000.00,3,N94 3M0,bird@gmail.com
1,Noah,Ryan,10000.00,8,N8S 14K,nsmall@hotmail.com
2,Nina,Keller,9072.02,17,S1T 4E6,azikez@gahew.mr
3,Chanel,Steve,11072.02,12,N7T 3E6,chanel@gmail.com
4,Kate,Noor,5000.00,23,K8N 5H6,kate@hotmail.com
5,Samer,Mo,100000.00,13,J7H 3HY,samer@gmail.com
6,Heba,Ismail,50000.00,7,K8Y 3M8,heba.ismail@hotmail.com
7,Laila,Aly,20000.00,5,J8Y 3M0,Laila.a@hotmail.com
8,Joseph,Patton,2629.13,2,M6U 5U7,daafeja@boh.jm
9,Noah,Moran,8626.96,11,K2D 4M9,guutodi@bigwoc.kw

In [56]:
# Alternatively, you can set the index name when you read the csv file as follows
employee_df = pd.read_csv('employee_information.csv', index_col='First Name')
employee_df

,Last Name,Salary,Years with Company,Postal Code,Email
First Name,,,,,
Mike,Moe,5000.00,3,N94 3M0,bird@gmail.com
Noah,Ryan,10000.00,8,N8S 14K,nsmall@hotmail.com
Nina,Keller,9072.02,17,S1T 4E6,azikez@gahew.mr
Chanel,Steve,11072.02,12,N7T 3E6,chanel@gmail.com
Kate,Noor,5000.00,23,K8N 5H6,kate@hotmail.com
Samer,Mo,100000.00,13,J7H 3HY,samer@gmail.com
Heba,Ismail,50000.00,7,K8Y 3M8,heba.ismail@hotmail.com
Laila,Aly,20000.00,5,J8Y 3M0,Laila.a@hotmail.com
Joseph,Patton,2629.13,2,M6U 5U7,daafeja@boh.jm
Noah,Moran,8626.96,11,K2D 4M9,guutodi@bigwoc.kw

**MINI CHALLENGE #4:**
- **Load the employee_information.csv and then set the "Last Name" column as the index**

In [57]:
employee_df = pd.read_csv('employee_information.csv', index_col='Last Name')
employee_df

,First Name,Salary,Years with Company,Postal Code,Email
Last Name,,,,,
Moe,Mike,5000.00,3,N94 3M0,bird@gmail.com
Ryan,Noah,10000.00,8,N8S 14K,nsmall@hotmail.com
Keller,Nina,9072.02,17,S1T 4E6,azikez@gahew.mr
Steve,Chanel,11072.02,12,N7T 3E6,chanel@gmail.com
Noor,Kate,5000.00,23,K8N 5H6,kate@hotmail.com
Mo,Samer,100000.00,13,J7H 3HY,samer@gmail.com
Ismail,Heba,50000.00,7,K8Y 3M8,heba.ismail@hotmail.com
Aly,Laila,20000.00,5,J8Y 3M0,Laila.a@hotmail.com
Patton,Joseph,2629.13,2,M6U 5U7,daafeja@boh.jm
Moran,Noah,8626.96,11,K2D 4M9,guutodi@bigwoc.kw

# TASK #5. SELECTING COLUMNS FROM A DATAFRAME

In [58]:
# Pandas is used to read a csv file and store data in a DataFrame
employee_df = pd.read_csv('employee_information.csv')
employee_df

,First Name,Last Name,Salary,Years with Company,Postal Code,Email
0,Mike,Moe,5000.00,3,N94 3M0,bird@gmail.com
1,Noah,Ryan,10000.00,8,N8S 14K,nsmall@hotmail.com
2,Nina,Keller,9072.02,17,S1T 4E6,azikez@gahew.mr
3,Chanel,Steve,11072.02,12,N7T 3E6,chanel@gmail.com
4,Kate,Noor,5000.00,23,K8N 5H6,kate@hotmail.com
5,Samer,Mo,100000.00,13,J7H 3HY,samer@gmail.com
6,Heba,Ismail,50000.00,7,K8Y 3M8,heba.ismail@hotmail.com
7,Laila,Aly,20000.00,5,J8Y 3M0,Laila.a@hotmail.com
8,Joseph,Patton,2629.13,2,M6U 5U7,daafeja@boh.jm
9,Noah,Moran,8626.96,11,K2D 4M9,guutodi@bigwoc.kw

In [61]:
# Return a column from the DataFrame
# Note that the output will be a Pandas Series (you can automatically tell by the lack of formating)
sample = employee_df['Email']
sample

0             bird@gmail.com
1         nsmall@hotmail.com
2            azikez@gahew.mr
3           chanel@gmail.com
4           kate@hotmail.com
5            samer@gmail.com
6    heba.ismail@hotmail.com
7        Laila.a@hotmail.com
8             daafeja@boh.jm
9          guutodi@bigwoc.kw
Name: Email, dtype: object

In [62]:
# Confirm the datatype of sample
type(sample)

pandas.core.series.Series

In [63]:
# Alternatively, you can use the following syntax to do the same
# Note that this method will not work if there are spaces in the column names
sample2 = employee_df.Email
sample2

0             bird@gmail.com
1         nsmall@hotmail.com
2            azikez@gahew.mr
3           chanel@gmail.com
4           kate@hotmail.com
5            samer@gmail.com
6    heba.ismail@hotmail.com
7        Laila.a@hotmail.com
8             daafeja@boh.jm
9          guutodi@bigwoc.kw
Name: Email, dtype: object

In [66]:
# Since the column name has spaces, this will be the only way that will work!
years = employee_df['Years with Company']
years

0     3
1     8
2    17
3    12
4    23
5    13
6     7
7     5
8     2
9    11
Name: Years with Company, dtype: int64

In [68]:
# Let's select multiple columns from the DataFrame
# you need to define a list containing all column names that you would like to select
# Note that since we collected more than one column, the output is a DataFrame (Notice the rich formatting)
sample3 = employee_df[ ['First Name', 'Salary'] ]
sample3

  First Name     Salary
0       Mike    5000.00
1       Noah   10000.00
2       Nina    9072.02
3    Chanel    11072.02
4       Kate    5000.00
5      Samer  100000.00
6       Heba   50000.00
7      Laila   20000.00
8     Joseph    2629.13
9       Noah    8626.96

In [69]:
# Note that sample is now a DataFrame and not a Pandas Series (since it has multiple columns)
# You can use type to confirm or you can tell from the rich text formating
type(sample3)

pandas.core.frame.DataFrame

In [70]:
# Alternatively, you can define a list first and then use it to select columns
col_list = ['First Name', 'Salary']
employee_df[col_list]

  First Name     Salary
0       Mike    5000.00
1       Noah   10000.00
2       Nina    9072.02
3    Chanel    11072.02
4       Kate    5000.00
5      Samer  100000.00
6       Heba   50000.00
7      Laila   20000.00
8     Joseph    2629.13
9       Noah    8626.96

In [72]:
# In order to access a given row in the dataframe
employee_df[0:4]

,First Name,Last Name,Salary,Years with Company,Postal Code,Email
0,Mike,Moe,5000.00,3,N94 3M0,bird@gmail.com
1,Noah,Ryan,10000.00,8,N8S 14K,nsmall@hotmail.com
2,Nina,Keller,9072.02,17,S1T 4E6,azikez@gahew.mr
3,Chanel,Steve,11072.02,12,N7T 3E6,chanel@gmail.com

**MINI CHALLENGE #5:**
- **Select the following columns from the dataFrame Salary, Years with Company, and Postal Code**

In [73]:
cols = ['Salary', 'Years with Company', 'Postal Code']
employee_df[cols]

      Salary  Years with Company Postal Code
0    5000.00                   3     N94 3M0
1   10000.00                   8     N8S 14K
2    9072.02                  17     S1T 4E6
3   11072.02                  12     N7T 3E6
4    5000.00                  23     K8N 5H6
5  100000.00                  13     J7H 3HY
6   50000.00                   7     K8Y 3M8
7   20000.00                   5     J8Y 3M0
8    2629.13                   2     M6U 5U7
9    8626.96                  11     K2D 4M9

# TASK #6. ADDING/DELETING COLUMNS TO DATAFRAME

In [74]:
# Pandas is used to read a csv file and store data in a DataFrame
employee_df = pd.read_csv('employee_information.csv')
employee_df

,First Name,Last Name,Salary,Years with Company,Postal Code,Email
0,Mike,Moe,5000.00,3,N94 3M0,bird@gmail.com
1,Noah,Ryan,10000.00,8,N8S 14K,nsmall@hotmail.com
2,Nina,Keller,9072.02,17,S1T 4E6,azikez@gahew.mr
3,Chanel,Steve,11072.02,12,N7T 3E6,chanel@gmail.com
4,Kate,Noor,5000.00,23,K8N 5H6,kate@hotmail.com
5,Samer,Mo,100000.00,13,J7H 3HY,samer@gmail.com
6,Heba,Ismail,50000.00,7,K8Y 3M8,heba.ismail@hotmail.com
7,Laila,Aly,20000.00,5,J8Y 3M0,Laila.a@hotmail.com
8,Joseph,Patton,2629.13,2,M6U 5U7,daafeja@boh.jm
9,Noah,Moran,8626.96,11,K2D 4M9,guutodi@bigwoc.kw

In [75]:
# Let's assume that we want to add a new column to the dataframe
employee_df['Age'] = [25, 26, 28, 30, 36, 22, 48, 55, 70, 69]
employee_df

,First Name,Last Name,Salary,Years with Company,Postal Code,Email,Age
0,Mike,Moe,5000.00,3,N94 3M0,bird@gmail.com,25
1,Noah,Ryan,10000.00,8,N8S 14K,nsmall@hotmail.com,26
2,Nina,Keller,9072.02,17,S1T 4E6,azikez@gahew.mr,28
3,Chanel,Steve,11072.02,12,N7T 3E6,chanel@gmail.com,30
4,Kate,Noor,5000.00,23,K8N 5H6,kate@hotmail.com,36
5,Samer,Mo,100000.00,13,J7H 3HY,samer@gmail.com,22
6,Heba,Ismail,50000.00,7,K8Y 3M8,heba.ismail@hotmail.com,48
7,Laila,Aly,20000.00,5,J8Y 3M0,Laila.a@hotmail.com,55
8,Joseph,Patton,2629.13,2,M6U 5U7,daafeja@boh.jm,70
9,Noah,Moran,8626.96,11,K2D 4M9,guutodi@bigwoc.kw,69

In [76]:
# You can also insert a new column in a given position
employee_df.insert(0, column='Credit Score', value = [680, 700, 750, 699, 550, 600, 750, 500, 520, 510])

In [77]:
employee_df

,Credit Score,First Name,Last Name,Salary,Years with Company,Postal Code,Email,Age
0,680,Mike,Moe,5000.00,3,N94 3M0,bird@gmail.com,25
1,700,Noah,Ryan,10000.00,8,N8S 14K,nsmall@hotmail.com,26
2,750,Nina,Keller,9072.02,17,S1T 4E6,azikez@gahew.mr,28
3,699,Chanel,Steve,11072.02,12,N7T 3E6,chanel@gmail.com,30
4,550,Kate,Noor,5000.00,23,K8N 5H6,kate@hotmail.com,36
5,600,Samer,Mo,100000.00,13,J7H 3HY,samer@gmail.com,22
6,750,Heba,Ismail,50000.00,7,K8Y 3M8,heba.ismail@hotmail.com,48
7,500,Laila,Aly,20000.00,5,J8Y 3M0,Laila.a@hotmail.com,55
8,520,Joseph,Patton,2629.13,2,M6U 5U7,daafeja@boh.jm,70
9,510,Noah,Moran,8626.96,11,K2D 4M9,guutodi@bigwoc.kw,69

In [78]:
# Delete a column from a DataFrame
del employee_df['Email']
employee_df

,Credit Score,First Name,Last Name,Salary,Years with Company,Postal Code,Age
0,680,Mike,Moe,5000.00,3,N94 3M0,25
1,700,Noah,Ryan,10000.00,8,N8S 14K,26
2,750,Nina,Keller,9072.02,17,S1T 4E6,28
3,699,Chanel,Steve,11072.02,12,N7T 3E6,30
4,550,Kate,Noor,5000.00,23,K8N 5H6,36
5,600,Samer,Mo,100000.00,13,J7H 3HY,22
6,750,Heba,Ismail,50000.00,7,K8Y 3M8,48
7,500,Laila,Aly,20000.00,5,J8Y 3M0,55
8,520,Joseph,Patton,2629.13,2,M6U 5U7,70
9,510,Noah,Moran,8626.96,11,K2D 4M9,69

In [79]:
employee_df.drop(labels = ['Last Name', 'Salary'], axis=1, inplace=True)

In [80]:
employee_df

   Credit Score First Name  Years with Company Postal Code  Age
0           680       Mike                   3     N94 3M0   25
1           700       Noah                   8     N8S 14K   26
2           750       Nina                  17     S1T 4E6   28
3           699    Chanel                   12     N7T 3E6   30
4           550       Kate                  23     K8N 5H6   36
5           600      Samer                  13     J7H 3HY   22
6           750       Heba                   7     K8Y 3M8   48
7           500      Laila                   5     J8Y 3M0   55
8           520     Joseph                   2     M6U 5U7   70
9           510       Noah                  11     K2D 4M9   69

In [81]:
# Remove a column from a DataFrame and store it somehwere else using pop
Years_with_Company = employee_df.pop('Years with Company')
Years_with_Company

0     3
1     8
2    17
3    12
4    23
5    13
6     7
7     5
8     2
9    11
Name: Years with Company, dtype: int64

**MINI CHALLENGE #6:**
- **load the employee_information.csv file and perform the following: (assume any reasonable values)**
    - **Add a column indicating whether the employee has a mortgage or not**
    - **Add a column indicating the value of mortage in dollars**

In [82]:
employee_df = pd.read_csv('employee_information.csv')

In [83]:
employee_df['Has Mortgage'] = [1,1,0,0,0,0,1,0,0,0]
employee_df['Mortgage Value'] = [200000,130000,0,0,0,0,40000,0,0,0]
employee_df

,First Name,Last Name,Salary,Years with Company,Postal Code,Email,Has Mortgage,Mortgage Value
0,Mike,Moe,5000.00,3,N94 3M0,bird@gmail.com,1,200000
1,Noah,Ryan,10000.00,8,N8S 14K,nsmall@hotmail.com,1,130000
2,Nina,Keller,9072.02,17,S1T 4E6,azikez@gahew.mr,0,0
3,Chanel,Steve,11072.02,12,N7T 3E6,chanel@gmail.com,0,0
4,Kate,Noor,5000.00,23,K8N 5H6,kate@hotmail.com,0,0
5,Samer,Mo,100000.00,13,J7H 3HY,samer@gmail.com,0,0
6,Heba,Ismail,50000.00,7,K8Y 3M8,heba.ismail@hotmail.com,1,40000
7,Laila,Aly,20000.00,5,J8Y 3M0,Laila.a@hotmail.com,0,0
8,Joseph,Patton,2629.13,2,M6U 5U7,daafeja@boh.jm,0,0
9,Noah,Moran,8626.96,11,K2D 4M9,guutodi@bigwoc.kw,0,0

# 7. LABEL-BASED ELEMENTS SELECTION FROM A DATAFRAME ".LOC()"

In [84]:
# Load the csv file and set the last name as the index
employee_df = pd.read_csv('employee_information.csv', index_col = 'Last Name')
employee_df

,First Name,Salary,Years with Company,Postal Code,Email
Last Name,,,,,
Moe,Mike,5000.00,3,N94 3M0,bird@gmail.com
Ryan,Noah,10000.00,8,N8S 14K,nsmall@hotmail.com
Keller,Nina,9072.02,17,S1T 4E6,azikez@gahew.mr
Steve,Chanel,11072.02,12,N7T 3E6,chanel@gmail.com
Noor,Kate,5000.00,23,K8N 5H6,kate@hotmail.com
Mo,Samer,100000.00,13,J7H 3HY,samer@gmail.com
Ismail,Heba,50000.00,7,K8Y 3M8,heba.ismail@hotmail.com
Aly,Laila,20000.00,5,J8Y 3M0,Laila.a@hotmail.com
Patton,Joseph,2629.13,2,M6U 5U7,daafeja@boh.jm
Moran,Noah,8626.96,11,K2D 4M9,guutodi@bigwoc.kw

In [85]:
# Sort the dataframe in an alphabetical order
employee_df.sort_index(inplace=True)

In [86]:
employee_df

,First Name,Salary,Years with Company,Postal Code,Email
Last Name,,,,,
Aly,Laila,20000.00,5,J8Y 3M0,Laila.a@hotmail.com
Ismail,Heba,50000.00,7,K8Y 3M8,heba.ismail@hotmail.com
Keller,Nina,9072.02,17,S1T 4E6,azikez@gahew.mr
Mo,Samer,100000.00,13,J7H 3HY,samer@gmail.com
Moe,Mike,5000.00,3,N94 3M0,bird@gmail.com
Moran,Noah,8626.96,11,K2D 4M9,guutodi@bigwoc.kw
Noor,Kate,5000.00,23,K8N 5H6,kate@hotmail.com
Patton,Joseph,2629.13,2,M6U 5U7,daafeja@boh.jm
Ryan,Noah,10000.00,8,N8S 14K,nsmall@hotmail.com
Steve,Chanel,11072.02,12,N7T 3E6,chanel@gmail.com

In [87]:
# loc is used to filter rows and columns
# loc is label-based meaning you need to give a name of the rows (or columns) that you are interested in selecting
# Note that iloc is "integer index-based" meaning you can filter rows/columns by their integer index.
# Note that we obtained a Series because last name "Aly" existed only once in the dataframe
employee_df.loc['Aly']

First Name                          Laila
Salary                            20000.0
Years with Company                      5
Postal Code                       J8Y 3M0
Email                 Laila.a@hotmail.com
Name: Aly, dtype: object

In [88]:
# Note that you can select multiple rows using "colon :"
# Note that this is inclusive! meaning that "Aly" and "Patton" were selected in the output DataFrame
# Headsup: this will be different if we use integer based index such as iloc()
employee_df.loc['Aly':'Patton']

,First Name,Salary,Years with Company,Postal Code,Email
Last Name,,,,,
Aly,Laila,20000.00,5,J8Y 3M0,Laila.a@hotmail.com
Ismail,Heba,50000.00,7,K8Y 3M8,heba.ismail@hotmail.com
Keller,Nina,9072.02,17,S1T 4E6,azikez@gahew.mr
Mo,Samer,100000.00,13,J7H 3HY,samer@gmail.com
Moe,Mike,5000.00,3,N94 3M0,bird@gmail.com
Moran,Noah,8626.96,11,K2D 4M9,guutodi@bigwoc.kw
Noor,Kate,5000.00,23,K8N 5H6,kate@hotmail.com
Patton,Joseph,2629.13,2,M6U 5U7,daafeja@boh.jm

In [89]:
# Select all elements up to and including 'Keller' index
employee_df.loc[:'Keller']

,First Name,Salary,Years with Company,Postal Code,Email
Last Name,,,,,
Aly,Laila,20000.00,5,J8Y 3M0,Laila.a@hotmail.com
Ismail,Heba,50000.00,7,K8Y 3M8,heba.ismail@hotmail.com
Keller,Nina,9072.02,17,S1T 4E6,azikez@gahew.mr

In [90]:
# if you want to select multiple rows, you can pass them as a list as follows
employee_df.loc[ ['Keller', 'Steve', 'Mo'] ]

,First Name,Salary,Years with Company,Postal Code,Email
Last Name,,,,,
Keller,Nina,9072.02,17,S1T 4E6,azikez@gahew.mr
Steve,Chanel,11072.02,12,N7T 3E6,chanel@gmail.com
Mo,Samer,100000.00,13,J7H 3HY,samer@gmail.com

In [93]:
# You can also randomly select a fraction of the DataFrame
# Setting axis = 0 means rows, setting index = 1 means columns
employee_df.sample(n=5, axis=0)

,First Name,Salary,Years with Company,Postal Code,Email
Last Name,,,,,
Ryan,Noah,10000.00,8,N8S 14K,nsmall@hotmail.com
Ismail,Heba,50000.00,7,K8Y 3M8,heba.ismail@hotmail.com
Steve,Chanel,11072.02,12,N7T 3E6,chanel@gmail.com
Moran,Noah,8626.96,11,K2D 4M9,guutodi@bigwoc.kw
Aly,Laila,20000.00,5,J8Y 3M0,Laila.a@hotmail.com

In [98]:
# return a percentage (Ex: 30%) of the rows
employee_df.sample(frac=0.3, axis=0)

,First Name,Salary,Years with Company,Postal Code,Email
Last Name,,,,,
Mo,Samer,100000.00,13,J7H 3HY,samer@gmail.com
Steve,Chanel,11072.02,12,N7T 3E6,chanel@gmail.com
Ryan,Noah,10000.00,8,N8S 14K,nsmall@hotmail.com

**MINI CHALLENGE #7:**
- **Load the csv data and use the "first name" column as the index**
- **Randomly select 2 rows from the DataFrame. Rerun the code and ensure that random rows are being selected**

In [102]:
employee_df = pd.read_csv('employee_information.csv', index_col = 'First Name')
employee_df.sample(n=2, axis=0)

,Last Name,Salary,Years with Company,Postal Code,Email
First Name,,,,,
Samer,Mo,100000.0,13,J7H 3HY,samer@gmail.com
Noah,Ryan,10000.0,8,N8S 14K,nsmall@hotmail.com

# 8. INTEGER INDEX-BASED ELEMENTS SELECTION FROM A DATAFRAME "iLOC()"

In [104]:
# Load the CSV file with default index
employee_df = pd.read_csv('employee_information.csv')
employee_df

,First Name,Last Name,Salary,Years with Company,Postal Code,Email
0,Mike,Moe,5000.00,3,N94 3M0,bird@gmail.com
1,Noah,Ryan,10000.00,8,N8S 14K,nsmall@hotmail.com
2,Nina,Keller,9072.02,17,S1T 4E6,azikez@gahew.mr
3,Chanel,Steve,11072.02,12,N7T 3E6,chanel@gmail.com
4,Kate,Noor,5000.00,23,K8N 5H6,kate@hotmail.com
5,Samer,Mo,100000.00,13,J7H 3HY,samer@gmail.com
6,Heba,Ismail,50000.00,7,K8Y 3M8,heba.ismail@hotmail.com
7,Laila,Aly,20000.00,5,J8Y 3M0,Laila.a@hotmail.com
8,Joseph,Patton,2629.13,2,M6U 5U7,daafeja@boh.jm
9,Noah,Moran,8626.96,11,K2D 4M9,guutodi@bigwoc.kw

In [106]:
# You can access rows with their numeric index using iloc
employee_df.iloc[9]

First Name                         Noah
Last Name                         Moran
Salary                          8626.96
Years with Company                   11
Postal Code                     K2D 4M9
Email                 guutodi@bigwoc.kw
Name: 9, dtype: object

In [107]:
# You can access multiple rows with their numeric index using iloc and colon :
# Note that using iloc is exclusive, meaning that we did not include the last element (quite confusing I know!)
# We went from index = 2 up until and not including index 5 so index 2,3, and 4 are the one selected
employee_df.iloc[2:5]

,First Name,Last Name,Salary,Years with Company,Postal Code,Email
2,Nina,Keller,9072.02,17,S1T 4E6,azikez@gahew.mr
3,Chanel,Steve,11072.02,12,N7T 3E6,chanel@gmail.com
4,Kate,Noor,5000.00,23,K8N 5H6,kate@hotmail.com

In [108]:
# all up until and not including index 4
employee_df.iloc[:4]

,First Name,Last Name,Salary,Years with Company,Postal Code,Email
0,Mike,Moe,5000.00,3,N94 3M0,bird@gmail.com
1,Noah,Ryan,10000.00,8,N8S 14K,nsmall@hotmail.com
2,Nina,Keller,9072.02,17,S1T 4E6,azikez@gahew.mr
3,Chanel,Steve,11072.02,12,N7T 3E6,chanel@gmail.com

In [109]:
# Multiple elements are selected using a list of indexes
employee_df.iloc[ [2,4,9] ]

,First Name,Last Name,Salary,Years with Company,Postal Code,Email
2,Nina,Keller,9072.02,17,S1T 4E6,azikez@gahew.mr
4,Kate,Noor,5000.00,23,K8N 5H6,kate@hotmail.com
9,Noah,Moran,8626.96,11,K2D 4M9,guutodi@bigwoc.kw

In [113]:
# Slicing a piece of the dataframe by selecting which row and column you would like to select
employee_df.iloc[4,:3]

First Name      Kate
Last Name       Noor
Salary        5000.0
Name: 4, dtype: object

**MINI CHALLENGE #8:**
- **Write a code that selects the last two rows in the DataFrame using two different methods**

In [114]:
employee_df.iloc[ [8,9 ]]

,First Name,Last Name,Salary,Years with Company,Postal Code,Email
8,Joseph,Patton,2629.13,2,M6U 5U7,daafeja@boh.jm
9,Noah,Moran,8626.96,11,K2D 4M9,guutodi@bigwoc.kw

In [118]:
employee_df.iloc[-2:]

,First Name,Last Name,Salary,Years with Company,Postal Code,Email
8,Joseph,Patton,2629.13,2,M6U 5U7,daafeja@boh.jm
9,Noah,Moran,8626.96,11,K2D 4M9,guutodi@bigwoc.kw

# 9. BROADCASTING OPERATIONS & SETTING NEW DATAFRAME VALUES

In [120]:
# Pandas is used to read a csv file and store data in a DataFrame
employee_df = pd.read_csv('employee_information.csv')
employee_df

,First Name,Last Name,Salary,Years with Company,Postal Code,Email
0,Mike,Moe,5000.00,3,N94 3M0,bird@gmail.com
1,Noah,Ryan,10000.00,8,N8S 14K,nsmall@hotmail.com
2,Nina,Keller,9072.02,17,S1T 4E6,azikez@gahew.mr
3,Chanel,Steve,11072.02,12,N7T 3E6,chanel@gmail.com
4,Kate,Noor,5000.00,23,K8N 5H6,kate@hotmail.com
5,Samer,Mo,100000.00,13,J7H 3HY,samer@gmail.com
6,Heba,Ismail,50000.00,7,K8Y 3M8,heba.ismail@hotmail.com
7,Laila,Aly,20000.00,5,J8Y 3M0,Laila.a@hotmail.com
8,Joseph,Patton,2629.13,2,M6U 5U7,daafeja@boh.jm
9,Noah,Moran,8626.96,11,K2D 4M9,guutodi@bigwoc.kw

In [121]:
# Let's assume that we want to update the salaries of all our employees by $1000
employee_df['Salary'] = employee_df['Salary'] + 1000

In [122]:
employee_df

,First Name,Last Name,Salary,Years with Company,Postal Code,Email
0,Mike,Moe,6000.00,3,N94 3M0,bird@gmail.com
1,Noah,Ryan,11000.00,8,N8S 14K,nsmall@hotmail.com
2,Nina,Keller,10072.02,17,S1T 4E6,azikez@gahew.mr
3,Chanel,Steve,12072.02,12,N7T 3E6,chanel@gmail.com
4,Kate,Noor,6000.00,23,K8N 5H6,kate@hotmail.com
5,Samer,Mo,101000.00,13,J7H 3HY,samer@gmail.com
6,Heba,Ismail,51000.00,7,K8Y 3M8,heba.ismail@hotmail.com
7,Laila,Aly,21000.00,5,J8Y 3M0,Laila.a@hotmail.com
8,Joseph,Patton,3629.13,2,M6U 5U7,daafeja@boh.jm
9,Noah,Moran,9626.96,11,K2D 4M9,guutodi@bigwoc.kw

In [123]:
# Alternatively, you can add or subtract as follows
employee_df['Salary'] = employee_df['Salary'].add(1000)

In [124]:
# Let's convert from USD to CAD using the exchange rate 1 USD = 1.3 CAD
employee_df['Salary (CAD)'] = employee_df['Salary'].mul(1.3)

In [125]:
employee_df

,First Name,Last Name,Salary,Years with Company,Postal Code,Email,Salary (CAD)
0,Mike,Moe,7000.00,3,N94 3M0,bird@gmail.com,9100.000
1,Noah,Ryan,12000.00,8,N8S 14K,nsmall@hotmail.com,15600.000
2,Nina,Keller,11072.02,17,S1T 4E6,azikez@gahew.mr,14393.626
3,Chanel,Steve,13072.02,12,N7T 3E6,chanel@gmail.com,16993.626
4,Kate,Noor,7000.00,23,K8N 5H6,kate@hotmail.com,9100.000
5,Samer,Mo,102000.00,13,J7H 3HY,samer@gmail.com,132600.000
6,Heba,Ismail,52000.00,7,K8Y 3M8,heba.ismail@hotmail.com,67600.000
7,Laila,Aly,22000.00,5,J8Y 3M0,Laila.a@hotmail.com,28600.000
8,Joseph,Patton,4629.13,2,M6U 5U7,daafeja@boh.jm,6017.869
9,Noah,Moran,10626.96,11,K2D 4M9,guutodi@bigwoc.kw,13815.048

In [126]:
# Decided to update the email address of a given customer
employee_df.iloc[4, 5] = 'kate.noor@gmail.com'

In [127]:
employee_df

,First Name,Last Name,Salary,Years with Company,Postal Code,Email,Salary (CAD)
0,Mike,Moe,7000.00,3,N94 3M0,bird@gmail.com,9100.000
1,Noah,Ryan,12000.00,8,N8S 14K,nsmall@hotmail.com,15600.000
2,Nina,Keller,11072.02,17,S1T 4E6,azikez@gahew.mr,14393.626
3,Chanel,Steve,13072.02,12,N7T 3E6,chanel@gmail.com,16993.626
4,Kate,Noor,7000.00,23,K8N 5H6,kate.noor@gmail.com,9100.000
5,Samer,Mo,102000.00,13,J7H 3HY,samer@gmail.com,132600.000
6,Heba,Ismail,52000.00,7,K8Y 3M8,heba.ismail@hotmail.com,67600.000
7,Laila,Aly,22000.00,5,J8Y 3M0,Laila.a@hotmail.com,28600.000
8,Joseph,Patton,4629.13,2,M6U 5U7,daafeja@boh.jm,6017.869
9,Noah,Moran,10626.96,11,K2D 4M9,guutodi@bigwoc.kw,13815.048

**MINI CHALLENGE #9:**
- **Let's assume that all employees have been performing really well and their salaries have increased by 12% annualy. Calculate the sum of all employees salaries.**

In [130]:
employee_df = pd.read_csv('employee_information.csv')

In [131]:
employee_df['Salary'] = employee_df['Salary'].mul(1.12)

In [132]:
employee_df['Salary'].sum()

247968.14560000002

# 10. SORTING AND ORDERING

In [138]:
# Let's read a CSV file using Pandas as follows
employee_df = pd.read_csv('employee_information.csv')
employee_df

,First Name,Last Name,Salary,Years with Company,Postal Code,Email
0,Mike,Moe,5000.00,3,N94 3M0,bird@gmail.com
1,Noah,Ryan,10000.00,8,N8S 14K,nsmall@hotmail.com
2,Nina,Keller,9072.02,17,S1T 4E6,azikez@gahew.mr
3,Chanel,Steve,11072.02,12,N7T 3E6,chanel@gmail.com
4,Kate,Noor,5000.00,23,K8N 5H6,kate@hotmail.com
5,Samer,Mo,100000.00,13,J7H 3HY,samer@gmail.com
6,Heba,Ismail,50000.00,7,K8Y 3M8,heba.ismail@hotmail.com
7,Laila,Aly,20000.00,5,J8Y 3M0,Laila.a@hotmail.com
8,Joseph,Patton,2629.13,2,M6U 5U7,daafeja@boh.jm
9,Noah,Moran,8626.96,11,K2D 4M9,guutodi@bigwoc.kw

In [139]:
# You can sort the values in the dataframe according to number of years with bank
employee_df.sort_values(by = 'Years with Company')

,First Name,Last Name,Salary,Years with Company,Postal Code,Email
8,Joseph,Patton,2629.13,2,M6U 5U7,daafeja@boh.jm
0,Mike,Moe,5000.00,3,N94 3M0,bird@gmail.com
7,Laila,Aly,20000.00,5,J8Y 3M0,Laila.a@hotmail.com
6,Heba,Ismail,50000.00,7,K8Y 3M8,heba.ismail@hotmail.com
1,Noah,Ryan,10000.00,8,N8S 14K,nsmall@hotmail.com
9,Noah,Moran,8626.96,11,K2D 4M9,guutodi@bigwoc.kw
3,Chanel,Steve,11072.02,12,N7T 3E6,chanel@gmail.com
5,Samer,Mo,100000.00,13,J7H 3HY,samer@gmail.com
2,Nina,Keller,9072.02,17,S1T 4E6,azikez@gahew.mr
4,Kate,Noor,5000.00,23,K8N 5H6,kate@hotmail.com

In [140]:
# Note that nothing changed in memory! you have to make sure that inplace is set to True
employee_df

,First Name,Last Name,Salary,Years with Company,Postal Code,Email
0,Mike,Moe,5000.00,3,N94 3M0,bird@gmail.com
1,Noah,Ryan,10000.00,8,N8S 14K,nsmall@hotmail.com
2,Nina,Keller,9072.02,17,S1T 4E6,azikez@gahew.mr
3,Chanel,Steve,11072.02,12,N7T 3E6,chanel@gmail.com
4,Kate,Noor,5000.00,23,K8N 5H6,kate@hotmail.com
5,Samer,Mo,100000.00,13,J7H 3HY,samer@gmail.com
6,Heba,Ismail,50000.00,7,K8Y 3M8,heba.ismail@hotmail.com
7,Laila,Aly,20000.00,5,J8Y 3M0,Laila.a@hotmail.com
8,Joseph,Patton,2629.13,2,M6U 5U7,daafeja@boh.jm
9,Noah,Moran,8626.96,11,K2D 4M9,guutodi@bigwoc.kw

In [141]:
# Set inplace = True to ensure that change has taken place in memory
employee_df.sort_values(by = 'Years with Company', inplace=True)

In [142]:
# Note that now the change (ordering) took place
employee_df

,First Name,Last Name,Salary,Years with Company,Postal Code,Email
8,Joseph,Patton,2629.13,2,M6U 5U7,daafeja@boh.jm
0,Mike,Moe,5000.00,3,N94 3M0,bird@gmail.com
7,Laila,Aly,20000.00,5,J8Y 3M0,Laila.a@hotmail.com
6,Heba,Ismail,50000.00,7,K8Y 3M8,heba.ismail@hotmail.com
1,Noah,Ryan,10000.00,8,N8S 14K,nsmall@hotmail.com
9,Noah,Moran,8626.96,11,K2D 4M9,guutodi@bigwoc.kw
3,Chanel,Steve,11072.02,12,N7T 3E6,chanel@gmail.com
5,Samer,Mo,100000.00,13,J7H 3HY,samer@gmail.com
2,Nina,Keller,9072.02,17,S1T 4E6,azikez@gahew.mr
4,Kate,Noor,5000.00,23,K8N 5H6,kate@hotmail.com

In [143]:
# You can sort the values in a descending order as follows
employee_df.sort_values(by = 'Years with Company', ascending=False, inplace=True)

In [146]:
# You can sort the dataframe with index instead of values as follows
employee_df.sort_index(inplace=True)
employee_df

,First Name,Last Name,Salary,Years with Company,Postal Code,Email
0,Mike,Moe,5000.00,3,N94 3M0,bird@gmail.com
1,Noah,Ryan,10000.00,8,N8S 14K,nsmall@hotmail.com
2,Nina,Keller,9072.02,17,S1T 4E6,azikez@gahew.mr
3,Chanel,Steve,11072.02,12,N7T 3E6,chanel@gmail.com
4,Kate,Noor,5000.00,23,K8N 5H6,kate@hotmail.com
5,Samer,Mo,100000.00,13,J7H 3HY,samer@gmail.com
6,Heba,Ismail,50000.00,7,K8Y 3M8,heba.ismail@hotmail.com
7,Laila,Aly,20000.00,5,J8Y 3M0,Laila.a@hotmail.com
8,Joseph,Patton,2629.13,2,M6U 5U7,daafeja@boh.jm
9,Noah,Moran,8626.96,11,K2D 4M9,guutodi@bigwoc.kw

**MINI CHALLENGE #10:**
- **Sort employees by salaries instead of years with Company. Make sure to update values in-memory.**

In [147]:
employee_df.sort_values(by='Salary', inplace=True)
employee_df

,First Name,Last Name,Salary,Years with Company,Postal Code,Email
8,Joseph,Patton,2629.13,2,M6U 5U7,daafeja@boh.jm
0,Mike,Moe,5000.00,3,N94 3M0,bird@gmail.com
4,Kate,Noor,5000.00,23,K8N 5H6,kate@hotmail.com
9,Noah,Moran,8626.96,11,K2D 4M9,guutodi@bigwoc.kw
2,Nina,Keller,9072.02,17,S1T 4E6,azikez@gahew.mr
1,Noah,Ryan,10000.00,8,N8S 14K,nsmall@hotmail.com
3,Chanel,Steve,11072.02,12,N7T 3E6,chanel@gmail.com
7,Laila,Aly,20000.00,5,J8Y 3M0,Laila.a@hotmail.com
6,Heba,Ismail,50000.00,7,K8Y 3M8,heba.ismail@hotmail.com
5,Samer,Mo,100000.00,13,J7H 3HY,samer@gmail.com

# EXCELLENT JOB!

# MINI CHALLENGE SOLUTIONS

**MINI CHALLENGE #1 SOLUTION:**
- **A porfolio contains a collection of securities such as stocks, bonds and ETFs. Define a dataframe named 'portfolio_df' that holds 3 different stock ticker symbols, number of shares, and price per share (feel free to choose any stocks)**
- **Calculate the total value of the porfolio including all stocks**

In [ ]:
portfolio_df = pd.DataFrame({'stock ticker symbols':['FB', 'TSLA', 'T'],
                             'price per share [$]':[3800, 300, 400],
                             'Number of stocks':[4, 7, 10]})
portfolio_df

  stock ticker symbols  price per share [$]  Number of stocks
0                   FB                 3800                 4
1                 TSLA                  300                 7
2                    T                  400                10

In [ ]:
stocks_dollar_value = portfolio_df['price per share [$]'] * portfolio_df['Number of stocks']
print(stocks_dollar_value)

0    15200
1     2100
2     4000
dtype: int64

In [ ]:
print('Total portfolio value = {}'.format(stocks_dollar_value.sum()))

Total portfolio value = 21300

**MINI CHALLENGE #2 SOLUTION:**
- **Write a code that uses Pandas to read tabular US retirement data**
- **You can use data from here: https://www.ssa.gov/oact/progdata/nra.html**

In [ ]:
# Read tabular data using read_html
retirement_age_df = pd.read_html('https://www.ssa.gov/oact/progdata/nra.html')
retirement_age_df

[                                        Year of birth  \
 0                                      1937 and prior
 1                                                1938
 2                                                1939
 3                                                1940
 4                                                1941
 5                                                1942
 6                                             1943-54
 7                                                1955
 8                                                1956
 9                                                1957
 10                                               1958
 11                                               1959
 12                                     1960 and later
 13  Notes: 1. Persons born on January 1 of any yea...

                                                   Age
 0                                                  65
 1                                     65 and 2 months
 2                                     65 and 4 months
 3                                     65 and 6 months
 4                                     65 and 8 months
 5                                    65 and 10 months
 6                                                  66
 7                                     66 and 2 months
 8                                     66 and 4 months
 9                                     66 and 6 months
 10                                    66 and 8 months
 11                                   66 and 10 months
 12                                                 67
 13  Notes: 1. Persons born on January 1 of any yea...  ]

**MINI CHALLENGE #3 SOLUTION:**
- **Use set index = False and rerun the cell. Comment on the output CSV.**

In [ ]:
# write to a csv file without an index
employee_df.to_csv('employee_info_noindex.csv', index = False)

**MINI CHALLENGE #4 SOLUTION:**
- **Load the employee_information.csv and then set the "Last Name" column as the index**

In [ ]:
employee_df = pd.read_csv('employee_information.csv')
employee_df

,First Name,Last Name,Salary,Years with Company,Postal Code,Email
0,Mike,Moe,5000.00,3,N94 3M0,bird@gmail.com
1,Noah,Ryan,10000.00,8,N8S 14K,nsmall@hotmail.com
2,Nina,Keller,9072.02,17,S1T 4E6,azikez@gahew.mr
3,Chanel,Steve,11072.02,12,N7T 3E6,chanel@gmail.com
4,Kate,Noor,5000.00,23,K8N 5H6,kate@hotmail.com
5,Samer,Mo,100000.00,13,J7H 3HY,samer@gmail.com
6,Heba,Ismail,50000.00,7,K8Y 3M8,heba.ismail@hotmail.com
7,Laila,Aly,20000.00,5,J8Y 3M0,Laila.a@hotmail.com
8,Joseph,Patton,2629.13,2,M6U 5U7,daafeja@boh.jm
9,Noah,Moran,8626.96,11,K2D 4M9,guutodi@bigwoc.kw

In [ ]:
# You can assign a specific column to be the index as follows
employee_df.set_index("Last Name", inplace = True)
employee_df

,First Name,Salary,Years with Company,Postal Code,Email
Last Name,,,,,
Moe,Mike,5000.00,3,N94 3M0,bird@gmail.com
Ryan,Noah,10000.00,8,N8S 14K,nsmall@hotmail.com
Keller,Nina,9072.02,17,S1T 4E6,azikez@gahew.mr
Steve,Chanel,11072.02,12,N7T 3E6,chanel@gmail.com
Noor,Kate,5000.00,23,K8N 5H6,kate@hotmail.com
Mo,Samer,100000.00,13,J7H 3HY,samer@gmail.com
Ismail,Heba,50000.00,7,K8Y 3M8,heba.ismail@hotmail.com
Aly,Laila,20000.00,5,J8Y 3M0,Laila.a@hotmail.com
Patton,Joseph,2629.13,2,M6U 5U7,daafeja@boh.jm
Moran,Noah,8626.96,11,K2D 4M9,guutodi@bigwoc.kw

**MINI CHALLENGE #5 SOLUTION:**
- **Select the following columns from the dataFrame Salary, Years with Company, and Postal Code**

In [ ]:
my_selected_columns = ['Salary', 'Years with Company', 'Postal Code']
sample = employee_df[my_selected_columns]
sample

              Salary  Years with Company Postal Code
Last Name
Moe          5000.00                   3     N94 3M0
Ryan        10000.00                   8     N8S 14K
Keller       9072.02                  17     S1T 4E6
Steve       11072.02                  12     N7T 3E6
Noor         5000.00                  23     K8N 5H6
Mo         100000.00                  13     J7H 3HY
Ismail      50000.00                   7     K8Y 3M8
Aly         20000.00                   5     J8Y 3M0
Patton       2629.13                   2     M6U 5U7
Moran        8626.96                  11     K2D 4M9

**MINI CHALLENGE #6 SOLUTION:**
- **load the employee_information.csv file and perform the following: (assume any reasonable values)**
    - **Add a column indicating whether the employee has a mortgage or not**
    - **Add a column indicating the value of mortage in dollars**

In [ ]:
# Pandas is used to read a csv file and store data in a DataFrame
employee_df = pd.read_csv('employee_information.csv')
employee_df

# Let's assume that we want to add a new column to the dataframe
employee_df['Has Mortage'] = [1, 1, 0, 0, 0, 0, 1, 0, 0, 0]
employee_df['Mortage Value'] = [200000, 130000, 0, 0, 0, 0, 400000, 0, 0, 0]
employee_df

,First Name,Last Name,Salary,Years with Company,Postal Code,Email,Has Mortage,Mortage Value
0,Mike,Moe,5000.00,3,N94 3M0,bird@gmail.com,1,200000
1,Noah,Ryan,10000.00,8,N8S 14K,nsmall@hotmail.com,1,130000
2,Nina,Keller,9072.02,17,S1T 4E6,azikez@gahew.mr,0,0
3,Chanel,Steve,11072.02,12,N7T 3E6,chanel@gmail.com,0,0
4,Kate,Noor,5000.00,23,K8N 5H6,kate@hotmail.com,0,0
5,Samer,Mo,100000.00,13,J7H 3HY,samer@gmail.com,0,0
6,Heba,Ismail,50000.00,7,K8Y 3M8,heba.ismail@hotmail.com,1,400000
7,Laila,Aly,20000.00,5,J8Y 3M0,Laila.a@hotmail.com,0,0
8,Joseph,Patton,2629.13,2,M6U 5U7,daafeja@boh.jm,0,0
9,Noah,Moran,8626.96,11,K2D 4M9,guutodi@bigwoc.kw,0,0

**MINI CHALLENGE #7 SOLUTION:**
- **Load the csv data and use the "first name" column as the index**
- **Randomly select 2 rows from the DataFrame. Rerun the code and ensure that random rows are being selected**

In [ ]:
# Load the csv file and set the last name as the index
employee_df = pd.read_csv('employee_information.csv', index_col = 'First Name')
employee_df

# You can also randomly select a fraction of the DataFrame
# Setting axis = 0 means rows, setting index = 1 means columns
employee_df.sample(n = 2, axis = 0)

,Last Name,Salary,Years with Company,Postal Code,Email
First Name,,,,,
Mike,Moe,5000.0,3,N94 3M0,bird@gmail.com
Laila,Aly,20000.0,5,J8Y 3M0,Laila.a@hotmail.com

**MINI CHALLENGE #8 SOLUTION:**
- **Write a code that selects the last two rows in the DataFrame using two different methods**

In [ ]:
employee_df.iloc[8:]

,Last Name,Salary,Years with Company,Postal Code,Email
First Name,,,,,
Joseph,Patton,2629.13,2,M6U 5U7,daafeja@boh.jm
Noah,Moran,8626.96,11,K2D 4M9,guutodi@bigwoc.kw

In [ ]:
employee_df.iloc[-2:]

,Last Name,Salary,Years with Company,Postal Code,Email
First Name,,,,,
Joseph,Patton,2629.13,2,M6U 5U7,daafeja@boh.jm
Noah,Moran,8626.96,11,K2D 4M9,guutodi@bigwoc.kw

**MINI CHALLENGE #9 SOLUTION:**
- **Let's assume that all employees have been performing really well and their salaries have increased by 12% annualy. Calculate the sum of all employees salaries.**

In [ ]:
# Pandas is used to read a csv file and store data in a DataFrame
employee_df = pd.read_csv('employee_information.csv')
employee_df

,First Name,Last Name,Salary,Years with Company,Postal Code,Email
0,Mike,Moe,5000.00,3,N94 3M0,bird@gmail.com
1,Noah,Ryan,10000.00,8,N8S 14K,nsmall@hotmail.com
2,Nina,Keller,9072.02,17,S1T 4E6,azikez@gahew.mr
3,Chanel,Steve,11072.02,12,N7T 3E6,chanel@gmail.com
4,Kate,Noor,5000.00,23,K8N 5H6,kate@hotmail.com
5,Samer,Mo,100000.00,13,J7H 3HY,samer@gmail.com
6,Heba,Ismail,50000.00,7,K8Y 3M8,heba.ismail@hotmail.com
7,Laila,Aly,20000.00,5,J8Y 3M0,Laila.a@hotmail.com
8,Joseph,Patton,2629.13,2,M6U 5U7,daafeja@boh.jm
9,Noah,Moran,8626.96,11,K2D 4M9,guutodi@bigwoc.kw

In [ ]:
# Let's convert from USD to CAD using the exchange rate 1 USD = 1.3 CAD
employee_df['Salary New'] = employee_df['Salary'].mul(1.12)
employee_df

,First Name,Last Name,Salary,Years with Company,Postal Code,Email,Salary New
0,Mike,Moe,5000.00,3,N94 3M0,bird@gmail.com,5600.0000
1,Noah,Ryan,10000.00,8,N8S 14K,nsmall@hotmail.com,11200.0000
2,Nina,Keller,9072.02,17,S1T 4E6,azikez@gahew.mr,10160.6624
3,Chanel,Steve,11072.02,12,N7T 3E6,chanel@gmail.com,12400.6624
4,Kate,Noor,5000.00,23,K8N 5H6,kate@hotmail.com,5600.0000
5,Samer,Mo,100000.00,13,J7H 3HY,samer@gmail.com,112000.0000
6,Heba,Ismail,50000.00,7,K8Y 3M8,heba.ismail@hotmail.com,56000.0000
7,Laila,Aly,20000.00,5,J8Y 3M0,Laila.a@hotmail.com,22400.0000
8,Joseph,Patton,2629.13,2,M6U 5U7,daafeja@boh.jm,2944.6256
9,Noah,Moran,8626.96,11,K2D 4M9,guutodi@bigwoc.kw,9662.1952

In [ ]:
employee_df['Salary New'].sum()

247968.14560000002

In [ ]:
print("Total networth for all clients = ${}".format( employee_df['Salary New'].sum()))

Total networth for all clients = $247968.14560000002

**MINI CHALLENGE #10 SOLUTION:**
- **Sort employees by salaries instead of years with Company. Make sure to update values in-memory.**

In [ ]:
# You can sort the values in the dataframe according to number of years with bank
employee_df.sort_values(by = 'Salary', inplace = True)
employee_df

,First Name,Last Name,Salary,Years with Company,Postal Code,Email,Salary New
8,Joseph,Patton,2629.13,2,M6U 5U7,daafeja@boh.jm,2944.6256
0,Mike,Moe,5000.00,3,N94 3M0,bird@gmail.com,5600.0000
4,Kate,Noor,5000.00,23,K8N 5H6,kate@hotmail.com,5600.0000
9,Noah,Moran,8626.96,11,K2D 4M9,guutodi@bigwoc.kw,9662.1952
2,Nina,Keller,9072.02,17,S1T 4E6,azikez@gahew.mr,10160.6624
1,Noah,Ryan,10000.00,8,N8S 14K,nsmall@hotmail.com,11200.0000
3,Chanel,Steve,11072.02,12,N7T 3E6,chanel@gmail.com,12400.6624
7,Laila,Aly,20000.00,5,J8Y 3M0,Laila.a@hotmail.com,22400.0000
6,Heba,Ismail,50000.00,7,K8Y 3M8,heba.ismail@hotmail.com,56000.0000
5,Samer,Mo,100000.00,13,J7H 3HY,samer@gmail.com,112000.0000